src/main/resources/QueryPersons.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="QueryPersonsService" targetNamespace="http://services.datapoc.steria.be/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.datapoc.steria.be/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://services.datapoc.steria.be/" version="1.0" xmlns:ns1="http://datapoc.steria.be/model" xmlns:tns="http://services.datapoc.steria.be/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://datapoc.steria.be/model"/>
<xs:element name="getAllPersons" type="tns:getAllPersons"/>
<xs:element name="getAllPersonsResponse" type="tns:getAllPersonsResponse"/>
<xs:element name="getPersonById" type="tns:getPersonById"/>
<xs:element name="getPersonByIdResponse" type="tns:getPersonByIdResponse"/>
<xs:complexType name="getPersonById">
    <xs:sequence>
      <xs:element minOccurs="0" name="personId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPersonByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:person"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllPersons">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllPersonsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:person"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema elementFormDefault="qualified" targetNamespace="http://datapoc.steria.be/model" version="1.0" xmlns:tns="http://datapoc.steria.be/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="CUDReplica" type="tns:cudReplica"/>
<xs:element name="createPersonRequest" type="tns:createPersonRequest"/>
<xs:element name="cudReplica" type="tns:cudReplica"/>
<xs:element name="cudRequest" type="tns:cudRequest"/>
<xs:element name="deletePersonRequest" type="tns:deletePersonRequest"/>
<xs:element name="serviceResponse" type="tns:serviceResponse"/>
<xs:element name="unexpectedError" type="tns:unexpectedError"/>
<xs:element name="updatePersonRequest" type="tns:updatePersonRequest"/>
<xs:complexType name="person">
    <xs:sequence>
      <xs:element name="idPerson" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="birthDate" type="xs:date"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="tns:address"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="address">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="number" type="xs:int"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
      <xs:element name="postalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="cudReplica">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:cudRequest"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="destination" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType abstract="true" name="cudRequest">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="createPersonRequest">
    <xs:complexContent>
      <xs:extension base="tns:cudRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="source" type="xs:string"/>
          <xs:element name="person" type="tns:person"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="updatePersonRequest">
    <xs:complexContent>
      <xs:extension base="tns:cudRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="source" type="xs:string"/>
          <xs:element name="person" type="tns:person"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="deletePersonRequest">
    <xs:complexContent>
      <xs:extension base="tns:cudRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="source" type="xs:string"/>
          <xs:element name="idPerson" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="unexpectedError">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="serviceResponse">
    <xs:sequence>
      <xs:element name="idResponse" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersonByIdResponse">
    <wsdl:part element="tns:getPersonByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonById">
    <wsdl:part element="tns:getPersonById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPersons">
    <wsdl:part element="tns:getAllPersons" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPersonsResponse">
    <wsdl:part element="tns:getAllPersonsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="QueryPersons">
    <wsdl:operation name="getPersonById">
      <wsdl:input message="tns:getPersonById" name="getPersonById">
    </wsdl:input>
      <wsdl:output message="tns:getPersonByIdResponse" name="getPersonByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPersons">
      <wsdl:input message="tns:getAllPersons" name="getAllPersons">
    </wsdl:input>
      <wsdl:output message="tns:getAllPersonsResponse" name="getAllPersonsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueryPersonsServiceSoapBinding" type="tns:QueryPersons">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPersonById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPersonById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPersons">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllPersons">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllPersonsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryPersonsService">
    <wsdl:port binding="tns:QueryPersonsServiceSoapBinding" name="QueryPersonsPort">
      <soap:address location="http://localhost:8080/PersonApp/services/QueryPersons"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>